# Created by .ignore support plugin (hsz.mobi)
.DS_Store
.gitignore
.idea/workspace.xml
mybatis-generator-core-fix/target/
src/main/test/resources/
src/main/resources/properties/
src/main/webapp/WEB-INF/lib/
target/

