<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tongxuweb.dao.TaskGetdataTaobaoDao">

    <select id="listNeedTask" resultType="com.tongxuweb.domain.create.OTaskGetdataTaobao">
    SELECT
        *
    FROM
        task_getdata_taobao a
    where a.status=1
    limit 1
    </select>

    <select id="getOrderids" resultType="java.lang.String">
       select orderinfo_id from task_getdata_taobao_orderids a where a.task_id=#{taskId}



    </select>


    <sql id="listTaskSql">
        select * from task_getdata_taobao a where a.status!=3
        <if test="type != null">
             and a.type=#{type}
        </if>
        <if test="status != null">
            and a.status=#{status}
        </if>
        <if test="taskName != null">
            and a.task_name like #{taskName}
        </if>
    </sql>

    <select id="listTask" resultType="com.tongxuweb.domain.generate.TaskGetdataTaobao">
        SELECT * from (<include refid="listTaskSql"/> order by ${sort} ${order})  a limit #{offset},#{limit}
    </select>

    <select id="countTask" resultType="java.lang.Integer">
        SELECT count(*) cc from (<include refid="listTaskSql"/>) a
    </select>


    <sql id="listTaskResultSql1">
        select * from task_getdata_taobao_order a where 1=1
        <if test="beginDate != null">
            and a.orderinfo_createtime &gt;= #{beginDate}
        </if>
        <if test="endDate != null">
            and a.orderinfo_createtime &lt;= #{endDate}
        </if>
        <if test="orderinfoId != null">
            and a.orderinfo_id like #{orderinfoId}
        </if>
        <if test="orderBarText != null">
            and a.order_bar_text like #{orderBarText}
        </if>
        <if test="statusinfoText != null">
            and a.statusinfo_text like #{statusinfoText}
        </if>
        <if test="logisticsName != null">
            and a.logistics_name like #{logisticsName}
        </if>
        <if test="logisticsNum != null">
            and a.logistics_num like #{logisticsNum}
        </if>
        <if test="buyerNick != null">
            and (a.buyer_nick like #{buyerNick}
            or a.buyer_phonenum like #{buyerNick}
            or a.buyer_logistics_phone like #{buyerNick}
            )
        </if>
        <if test="buyerAddress != null">
            and  a.buyer_address like #{buyerAddress}
        </if>

    </sql>

    <select id="listTaskResult1" resultType="com.tongxuweb.domain.generate.TaskGetdataTaobaoOrder">
        SELECT * from (<include refid="listTaskResultSql1"/> order by  ${sort} ${order})  a limit #{offset},#{limit}
    </select>

    <select id="countTaskResult1" resultType="java.lang.Integer">
        SELECT count(*) cc from (<include refid="listTaskResultSql1"/>) a
    </select>


    <sql id="listTaskResultSql2">
        select  a.task_id, a.buyer_id, a.buyer_nick, a.buyer_phonenum, a.buyer_provice, a.buyer_city, a.buyer_area,
        a.buyer_post, a.buyer_address, a.buyer_logistics_phone, a.orderinfo_createtime, a.orderinfo_id,
        a.payinfo_actualfee, a.statusinfo_text, a.statusinfo_type, a.create_time, a.pay_time, a.send_time,
        a.alipay_id, a.order_bar, a.order_bar_text, a.logistics_name, a.logistics_num, a.logistics_num_taobao,
        a.logistics_last_desc, a.buy_message, a.created_by, a.updated_by, a.created_at, a.updated_at,
        b.id   from task_getdata_taobao_order a ,task_getdata_taobao_orderids b
        where a.orderinfo_id=b.orderinfo_id
        <if test="orderinfoId != null">
            and a.orderinfo_id like #{orderinfoId}
        </if>
        <if test="orderBarText != null">
            and a.order_bar_text like #{orderBarText}
        </if>
        <if test="statusinfoText != null">
            and a.statusinfo_text like #{statusinfoText}
        </if>
        <if test="logisticsName != null">
            and a.logistics_name like #{logisticsName}
        </if>
        <if test="logisticsNum != null">
            and a.logistics_num like #{logisticsNum}
        </if>
        <if test="buyerNick != null">
            and (a.buyer_nick like #{buyerNick}
            or a.buyer_phonenum like #{buyerNick}
            or a.buyer_logistics_phone like #{buyerNick}
            )
        </if>
        <if test="buyerAddress != null">
            and  a.buyer_address like #{buyerAddress}
        </if>
        and b.task_id=#{id}

    </sql>


    <select id="listTaskResult2" resultType="com.tongxuweb.domain.generate.TaskGetdataTaobaoOrder">
        SELECT * from (<include refid="listTaskResultSql2"/> order by  ${sort} ${order})  a limit #{offset},#{limit}
    </select>

    <select id="countTaskResult2" resultType="java.lang.Integer">
        SELECT count(*) cc from (<include refid="listTaskResultSql2"/>) a
    </select>


    <select id="listTaskResult1Map" resultType="java.util.Map">
        SELECT * from (<include refid="listTaskResultSql1"/> order by  ${sort} ${order})  a
    </select>

    <select id="listTaskResult2Map" resultType="java.util.Map">
        SELECT * from (<include refid="listTaskResultSql2"/> order by  ${sort} ${order})  a
    </select>

    <select id="list" resultType="com.tongxuweb.domain.create.OTaskGetdataTaobao">
         SELECT
            *
        FROM
            task_getdata_taobao a
    </select>


</mapper>